@model List<ABC_RETAIL_MVC.Models.DatabaseModels.CartItem>

<h2>Your Cart</h2>

@if (!Model.Any())
{
    <p>Your cart is empty</p>
}
else
{
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price</td>
                <td>@(item.Price* item.Quantity)</td>
                <td>
                    <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId" class="btn btn-danger">
                        Remove
                    </a>
                </td>
            </tr>
        }
    </table>
}
